.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Arial", sans-serif;
  background: #2d2d2d;
  position: relative;
}
.clover {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 48px;
}
.daisy {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 48px;
}
.welcomeMessage {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* White for better readability */
  margin-bottom: 20px;
  height: 30px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  margin-top: 5px;
}

.listItem {
  background-color: #1e1e1e;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colorful-text span {
  font-size: 18px;
  font-weight: bold;
  color: #ffcc00;
}

.button {
  background-color: #1e90ff; /* Bright blue */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: #1c86ee; /* Slightly darker blue */
}

.fas {
  color: white;
}
.textColor {
  color: rgb(122 136 46);
  font-weight: bold;
}
